* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  color: #fafafa;

  background-image: url("assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


h1 {
  margin-bottom: 5px;
}

.hint {
  font-size: 0.9rem;
  opacity: 0.8;
}

#dig-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 3 / 2;
  margin: 20px auto;
  border: 6px solid #8b6b3e;
  border-radius: 12px;
  overflow: hidden;
  background: #000;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#choices {
  margin-top: 20px;
}

#choices button {
  font-size: 1.2rem;
  padding: 12px 24px;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#yes {
  background: #05d7ee;
  color: rgb(0, 0, 0);
}

#no {
  background: #777;
  color: rgb(0, 0, 0);
}

.hidden {
  display: none;
}

#dino {
  position: fixed;
  bottom: 20px;
  left: -200px;
  width: 180px;
  pointer-events: none;
  display: none;
  animation: run 3s linear forwards;
  z-index: 999;
}

@keyframes run {
  to {
    left: 110%;
  }
}
